@{
    Layout = "~/Views/Shared/_AdminPagesLayout.cshtml";
    var errorMessage = ViewBag.ErrorMessage;

    //var course = ViewBag.courses.ToList();
    var course1 = ViewBag.courses;


}


@model ILearnSmartProject.Models.Course
<style>
    /* From Uiverse.io by PriyanshuGupta28 */
    .pushable {
        position: relative;
        background: transparent;
        padding: 0px;
        border: none;
        cursor: pointer;
        outline-offset: 4px;
        outline-color: deeppink;
        transition: filter 250ms;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .shadow {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: hsl(226, 25%, 69%);
        border-radius: 8px;
        filter: blur(2px);
        will-change: transform;
        transform: translateY(2px);
        transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
    }

    .edge {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 8px;
        background: linear-gradient( to right, hsl(248, 39%, 39%) 0%, hsl(248, 39%, 49%) 8%, hsl(248, 39%, 39%) 92%, hsl(248, 39%, 29%) 100% );
    }

    .front {
        display: block;
        position: relative;
        border-radius: 8px;
        background: hsl(248, 53%, 58%);
        padding: 16px 32px;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-size: 1rem;
        transform: translateY(-4px);
        transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
    }

    .pushable:hover {
        filter: brightness(110%);
    }

        .pushable:hover .front {
            transform: translateY(-6px);
            transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
        }

    .pushable:active .front {
        transform: translateY(-2px);
        transition: transform 34ms;
    }

    .pushable:hover .shadow {
        transform: translateY(4px);
        transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
    }

    .pushable:active .shadow {
        transform: translateY(1px);
        transition: transform 34ms;
    }

    .pushable:focus:not(:focus-visible) {
        outline: none;
    }

</style>
<div class="d-flex justify-content-lg-between ">
    
    <h3>Courses</h3>
    <h2></h2>
@*     <button class="pushable" asp-controller="Admin" asp-action="CreateOrEditCourse">
        <span class="shadow"></span>
        <span class="edge"></span>
        <span class="front">Create New Course</span>
    </button> *@
    <form asp-controller="Admin" asp-action="CreateOrEditCourse" method="post">
        <button type="submit" class="btn btn-primary">Create New Course</button>
    </form>
    
</div>
    <div class="row mt-5">

    @for (int i = 0; i < course1.Count; i++)
        {
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <img src="../images/course1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">@course1[i].CourseTitle</h5>
                    <p class="card-text">@course1[i].CourseDescription</p>
                    <p class="card-text">Price:- $@course1[i].CoursePrice</p>

                       <div class="d-flex justify-content-between">
                        <a asp-action="CreateOrEditCourse" asp-controller="Admin" asp-route-id="@course1[i].Id" class="btn btn-primary">
                            
                            Edit
                        </a>
                        

                            <a href="#" class="btn btn-primary">View</a>
                        <a asp-action="DeleteCourse" asp-controller="Admin" asp-route-id="@course1[i].Id" class="btn btn-primary">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
</div>
