@{
    Layout = "~/Views/Shared/_AdminPagesLayout.cshtml";
    var errorMessage = ViewBag.ErrorMessage;
}


<h2>Dashboard</h2>

@* 
<video controls width="600">
    <source src="@Url.Action("GetVideo", "Admin")" type="video/mp4">
</video> *@