@{
    ViewData["Title"] = "Home Page";
    var UserData = Model;
}

<div class="text-center">
    <h1 class="display-4">Welcome To User's Data Page from Database</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br/>
    <h2>User Email Data from database</h2>
    @for(int i = 0; i<UserData.Count; i++){
        <ul>@UserData[i].EmailAddress</ul>
    }
    <br/>

</div>
